<form action="/bookings" method="post">
  <label>
  Select a class:
    <select name="fitness_class_id">
      <% for fitness_class in @fitness_classes %>
      <% if fitness_class.capacity <= 0 then %>
      <option value="<%= fitness_class.id() %>"><%= fitness_class.name %>(class full)</option>
      <% else %>
      <option value="<%= fitness_class.id() %>"><%= fitness_class.name %></option>
      <% end %>
      <% end %>
    </select>
  </label>

  <label>
  Select a boxer:
    <select name="boxer_id">
      <% for boxer in @boxers %>
      <option value="<%= boxer.id() %>"><%= boxer.full_name() %></option>
      <% end %>
    </select>
  </label>

  <input class="btn btn--action" type='submit' value="Add Booking">
</form>
