<form method="post" action="/boxers/<%= @boxer.id() %>">

  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" value="<%= @boxer.first_name  %>"/>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" value="<%= @boxer.last_name  %>"/>

  <label for="premium-member">Premium Member:</label>
  <select>
    <option value="true">
      true
    </option>
    <option value="false">
      false
    </option>
  </select>

  <label for="trainer">Assign Trainer:
    <select name="trainer_id">
      <% for trainer in @trainers %>
      <option value="<%= trainer.id() %>"><%= trainer.full_name %>
      </option>
      <% end %>
    </select>
  </label>


  <input type="submit" value="Update Boxer Details">

</form>
