<% for boxer in @boxers %>
  <p>Name: <%= boxer.full_name() %> </p>
  <p>Premium Member: <%= boxer.convert_boolean() %> </p>
  <p>Trainer: <%= boxer.trainer().full_name %> </p>
  <p>Skill Level: <%= boxer.skill_level %> </p>
  <img src= "<%= boxer.photo %>" alt="<%= boxer.full_name%> Photo" >
  
  <p> <a href="/boxers/<%= boxer.id()  %>/edit">Edit Boxer Details</a> </p>
  <p> <a href="/boxers/<%= boxer.id()  %>/skill_mot">Do skill MOT</a> </p>
  <p> <a href="/boxers/<%= boxer.id()  %>/delete">Remove Boxer</a> </p>
  <p> <a href="/boxers/<%= boxer.id()  %>/fitness_classes">Fitness Class In</a> </p>
  <p> <a href="/boxers/<%= boxer.id()  %>/booking">Book Class</a> </p>
  <hr />
<% end %>
