 <% for trainer in @trainers %>
  <p>Name: <%= trainer.full_name() %> </p>
  <p>Premium Trainer: <%= trainer.convert_boolean() %> </p>
  <ul>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Options</a>
      <div class="dropdown-content">
        <a class="button" href="/trainers/<%= trainer.id()  %>/edit">Edit Trainer Details</a>
        <a class="button" href="/trainers/<%= trainer.id()  %>/delete">Remove Trainer</a>
        <a  class="button" href="/trainers/<%= trainer.id()  %>/boxers">Boxers Training</a>
      </div>
    </li>
  </ul>
  <hr />
<% end %>
